.cardWrapper{
    height: 70vh;
    width: 50vw;
    background-color: #ededed;
    border-top: 20px solid #646464;
    border-radius: 2px;
    box-shadow: 0px 1px 8px #8d8d8d;
    padding-bottom: 50px;
}
@media only screen and (max-width: 1280px) {
    .cardWrapper {
        width: 60vw;
    }
}
@media only screen and (max-width: 990px) {
    .cardWrapper {
        width: 70vw;
    }
}
@media only screen and (max-width: 700px) {
    .cardWrapper {
        width: 90vw;
    }
}