.inputSection{
    height: 50px;
    background-color: #d5d5d5;
    border-bottom: 1px solid #adadad;
    display: flex;
    width: 100%;
    flex-direction: row;
    .customInput{
        background-color: transparent;
        // background-color: red;
        width: 95%;
        height: 100%;
        border: none;
        outline: none;
        padding: 20px;
        font-size: 20px;
    }
    .customInput::placeholder{
        font-style: italic;
    }
    @media only screen and (max-width: 700px) {
        .customInput::placeholder {
            font-size: 15px;
        }
    }
    .buttonWrapper{
        // background-color: yellow;
        flex: 1;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .addButton{
        border: none;
        outline: none;
        cursor: pointer;
        // background-color: yellow;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        .buttonText{
            font-size: 20px;
            color: #646464;
            font-weight: 600;
        }
    }
    .addButton:hover{
        background-color: rgb(255, 255, 215);
    }
    
}
